{% extends 'base-blank.twig.html' %}

{% block body %}
  
   <h1 class="lead text-center">Tareas</h1>
   <h2 class="lead text-center">Seguimiento de tareas</h2>
   
   {#<a title="Cloud Driver" href="clouddriverapp://">Cloud Driver</a>#}
   
   
   
   <a href="{{ path('tarea_new')}}" class="btn btn-primary"><i class="fa fa-plus"></i>&nbsp;Crear Tarea</a>
   
{% endblock %}


