  <li class="nav-item dropdown">
        <a class="nav-link" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
          <i class="icon-settings"></i>
          <span class="badge badge-pill badge-danger">9</span>
        </a>
        <div class="dropdown-menu dropdown-menu-right">
          <div class="dropdown-header text-center">
            <strong>Account</strong>
          </div>
          {#<a class="dropdown-item" href="#"><i class="fa fa-bell-o"></i> Updates<span class="badge badge-info">42</span></a>
          <a class="dropdown-item" href="#"><i class="fa fa-envelope-o"></i> Messages<span class="badge badge-success">42</span></a>
          <a class="dropdown-item" href="#"><i class="fa fa-tasks"></i> Tasks<span class="badge badge-danger">42</span></a>
          <a class="dropdown-item" href="#"><i class="fa fa-comments"></i> Comments<span class="badge badge-warning">42</span></a>
          <div class="dropdown-header text-center">
            <strong>Settings</strong>
          </div>
          <a class="dropdown-item" href="#"><i class="fa fa-user"></i> Profile</a>
          <a class="dropdown-item" href="#"><i class="fa fa-wrench"></i> Settings</a>
          <a class="dropdown-item" href="#"><i class="fa fa-usd"></i> Payments<span class="badge badge-dark">42</span></a>
          <a class="dropdown-item" href="#"><i class="fa fa-file"></i> Projects<span class="badge badge-primary">42</span></a>#}
          <div class="divider"></div>
          {#<a class="dropdown-item" href="#"><i class="fa fa-shield"></i> Lock Account</a>#}
          
          <div class="dropdown-item">
            Musica&nbsp;&nbsp;
            <a href="{{ path('go_musica') }}" target="_blank" class="text-success">&nbsp;<i class="fa fa-play text-success text-center"></i>Play</a>
            
            
          </div>
          
          
          <div class="dropdown-item">
            Sonido
            <label class="switch switch-text switch-pill switch-success">
                <input id="sonido_estado" value="activar" type="checkbox" class="switch-input" checked="">
                <span class="switch-label" data-on="On" data-off="Off"></span>
                <span class="switch-handle"></span>
            </label>
            
            
          </div>
          <a class="dropdown-item" href="{{ path('fos_user_security_logout') }}"><i class="fa fa-lock"></i> {{ 'plantillabase.Logout'|trans({}) }}</a>
        </div>
      </li>